.all-product-page-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-evenly;
  padding: 20px;margin-bottom: 200px;
}

.all-product-page-grid {
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(4, minmax(0, 1fr)); 
  grid-gap: 20px;
}

.all-product-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.all-product-page-empty-message, .all-product-page-error-message {
  font-size: 18px;
  color: #555;
  text-align: center;
  margin-top: 20px;
}

.all-product-page-pagination-buttons {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.all-product-page-pagination-button {
  width: 100px;
  height: 45px;
  padding: 10px 0; 
  font-size: 16px;
  background-color: #000000; 
  color: #fff;
  border: none;
  border-radius: 20px;
  box-shadow: rgba(66, 65, 65, 0.3) 0px 19px 38px, rgba(173, 154, 154, 0.12) 0px 15px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.all-product-page-pagination-button:hover {
  background-color: #ffffff;
  color: #000000;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .all-product-page-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .all-product-page-pagination-button {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .all-product-page-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .all-product-page-pagination-button {
    width: 70%;
  }
}
