/* CategoryFilter.css */
.category-filter {
  margin-bottom: 15px;
}

.category-filter-label {
  font-size: 17px;
  font-weight: 750;
  color: #000;
  margin-right: 10px;
}

.category-checkbox-options {
  margin-top: 9px;
  max-height: 164px;
  overflow-y: auto;
  padding-right: 10px;
}
.category-checkbox-options::-webkit-scrollbar {
    display: none;
  }
.checkbox-options-label {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  font-size: 13px;font-weight: 500;
}

.checkbox-options-label input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.checkbox-options-label input[type="checkbox"]:checked {
  background-color: red;
  border-color: red;
}

.checkbox-options-label input[type="checkbox"]:checked::before {
  
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  margin: 2px 0 0 6px;
}

.category-filter-button {
  margin-top: 15px;
  border: none;
  background-color: #000;
  color: white;
  padding: 5px 10px;
  border-radius: 7px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category-filter-button:hover {
  background-color: #333;
}
.category-filter .checkbox-options input[type="checkbox"]:checked::before {
  content: '';
  display: block;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  margin: 2px 0 0 5px;
}
