.slider-container{
    display: flex;align-items: center;justify-content: center;
    
    width: 100%;
    /* background-color: aquamarine; */
    /*  */
}
.sliderParent{
    display: flex;flex-direction: row;
    justify-content: center;
    width: 90%;
    
}
.slider{
    padding-bottom: 0;
}
.men-slider-columns{
    margin:0;
    padding: 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;align-items: center;
    padding: 0 10px;
    
}



/* Hide default slick arrows */
.slick-prev,
.slick-next {
    display: none !important;
}
.custom-arrow {
    transform: translateY(-20px);
}
.arrow{
    size: 1000px;
    color: black;
}
/* Define styles for custom arrows */
.prev-arrow {
    left: 0;
}

.next-arrow {
    right: 0;
}



/* .home-page-category-products-right-button {
    height: 30px;
    width: 50px;
    border: none;background-color: #7469B6;
    border-radius: 10px;
    display: flex;justify-content: center;
    align-items: center;
} */
/* .home-page-category-products-right {
    display: flex;gap: 5px;
    justify-self: center;
} */